<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citydo.appraisal.mapper.AppraisalSysMapper">

    <resultMap type="com.citydo.appraisal.entity.AppraisalSys" id="AppraisalSysMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="assessmentSys" column="assessment_sys" jdbcType="VARCHAR"/>
        <result property="formName" column="form_name" jdbcType="VARCHAR"/>
        <result property="formKey" column="form_key" jdbcType="VARCHAR"/>
        <result property="formId" column="form_id" jdbcType="INTEGER"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="modifiedBy" column="modified_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="BOOLEAN"/>
    </resultMap>
    
    <sql id="baseField">
        id,
               assessment_sys,
               form_name,
               form_key,
               form_id,
               created_by,
               modified_by,
               create_time,
               update_time,
               is_delete
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="AppraisalSysMap">
        select <include refid="baseField"/>
        from appraisal_sys
        where id = #{id} and is_delete = 0
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="AppraisalSysMap">
        select <include refid="baseField"/>
        from appraisal_sys
        where is_delete = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="assessmentSys != null and assessmentSys != ''">
            and assessment_sys = #{assessmentSys}
        </if>
        <if test="formName != null and formName != ''">
            and form_name = #{formName}
        </if>
        <if test="formKey != null and formKey != ''">
            and form_key = #{formKey}
        </if>
        <if test="formId != null">
            and form_id = #{formId}
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into appraisal_sys(assessment_sys, form_name, form_key, form_id)
        values (#{assessmentSys}, #{formName}, #{formKey}, #{formId})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into appraisal_sys(assessment_sys, form_name, form_key, form_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.assessmentSys}, #{entity.formName}, #{entity.formKey}, #{entity.formId})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update appraisal_sys
        <set>
            <if test="assessmentSys != null and assessmentSys != ''">
                assessment_sys = #{assessmentSys},
            </if>
            <if test="formName != null and formName != ''">
                form_name = #{formName},
            </if>
            <if test="formKey != null and formKey != ''">
                form_key = #{formKey},
            </if>
            <if test="formId != null">
                form_id = #{formId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from appraisal_sys
        where id = #{id}
    </delete>

</mapper>

